@{
    ViewData["Title"] = "Home Page";
}

<a asp-action="Basic" class="btn btn-success m-2">
    A basic message
</a>
<a asp-action="TitleWithTextUnder" class="btn btn-success m-2">
    A title with a text under
</a>

<a asp-action="ModalWithFooter" class="btn btn-success m-2">
    A modal with a title, an error icon, a text, and a footer
</a>

<a asp-action="ConfirmDialogWithConfirmButton" class="btn btn-success m-2">
    A confirm dialog, with a function attached to the "Confirm"-button
</a>
